# Compiled Source #
###################
*.pyc
*.o

# Package Files #
#################
*.jar
*.war
*.ear

# Testing Folders #
###################
__pycache__/
Python/output

# Project Files #
#################
robonav.geany
