# Compiled Source #
###################
*.pyc
*.o
*.aux
*.bbl
*.blg
*.lof
*.lot
*.out
*.toc

# Package Files #
#################
*.jar
*.war
*.ear

# Testing Folders #
###################
__pycache__/
Python/output
BotNav/maps/output
Poster/Examples

# Project Files #
#################
robonav.geany
.idea/
